.grid-view {
  display: grid;
  grid-template-columns: minmax(110px, 15%) 1fr;
}

.ul-style {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding-bottom: 1.2rem;
  display: block;
  color: white;
}

.header-container {
  width: 100%;
}

.board-header {
  margin-bottom: 3rem;
  text-align: right;
  display: block;
  color: #ffffff;
}

.menuButtons {
  border: unset;
  background: unset;
  color: white;
}

.menuButtons:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.menuParagraph {
  text-align: right;
  margin-bottom: 0.3rem;
  width: 100%;
  border: unset;
  border-radius: 3px;
  background: unset;
  display: block;
  float: right;
  padding: 0.3rem;
  color: #ffffff;
}

.menuParagraph:hover {
  background: #dbdbdb34;
}

.selected {
  color: #4a4a6d;
  text-align: right;
  margin-bottom: 0.3rem;
  width: 100%;
  border: unset;
  border-radius: 3px;
  background: #4a4a6d34;
  display: block;
  float: right;
  padding: 0.3rem;
}

.projectCard {
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin-left: 0.7rem;
  margin-bottom: 2rem;
  background: #5e5e8a;
  text-align: center;
  float: right;
  border: solid 1px #00000009;
  padding-top: 4rem;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.projectCard:hover {
  padding-top: 0;
  background: #353550;
}

.createProjectCard {
  border-radius: 5px;
  width: 200px;
  height: 100px;
  background: rgb(255, 255, 255);
  text-align: center;
  float: right;
  border: unset;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.createProjectCard:hover {
  background: rgb(255, 255, 255, 0.7);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeBoxBtn {
  border: unset;
  width: 7%;
  background: none;
  padding-right: 1.5%;
  border-radius: 3px;
}

.closeBoxBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.projectNameInput {
  border: unset;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  margin: 1rem 0;
  height: 2.1rem;
  color: black;
  padding-right: 5px;
}

.projectNameInput:hover {
  background: rgba(0, 0, 0, 0.2);
}

.projectNameInput:focus {
  outline: 0;
}

.projectNameInput::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.projectNameBtn {
  width: 100%;
  border: 1px solid #329432;
  background-color: #55b153;
  border-radius: 5px;
  color: white;
}

.projectNameBtn:hover {
  background: #329432;
}

.message-container {
  width: 100%;
  margin: 0 auto;
  text-align: right;
  color: #39395c;
}

.linkedin {
  font-size: 4rem;
  margin-left: 1rem;
}
.linkedin:hover {
  color: #0077b5;
}

.github {
  font-size: 4rem;
}
.github:hover {
  color: #fff;
}

.anchor {
  color: #39395c !important;
}
