@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");

html,
body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: "Tajawal", sans-serif !important;
  background-color: #8b8bcc !important;
}
